<!-- page 视图内容，它被initController载入到当前视图中-->
<div class="page-content">
  <div class="content-block-title">Welcome To My Awesome App</div>
  <div class="content-block">
    <div class="content-block-inner">
      <a href="page/home.html" class="item-link">Enter</a>
    </div>
  </div>
</div>
