<!-- Scrollable page content-->
<div class="page-content">
  <div class="content-block">
    <div class="content-block-inner">
      <p>这是工单详情!</p>
      <p>工单编号为：{{id}}</p>
    </div>
  </div>
</div>