<!-- Scrollable page content-->
<div class="page-content">
  <form id="search-form" class="ajax-submit">
    <div class="content-block">
      <div class="list-block small-font">
        <ul>
          <li>
            <div class="item-content">
              <div class="item-media"></div>
              <div class="item-inner">
                <div class="item-title label">工单主题</div>
                <div class="item-input">
                  <input name="taskTitle" type="text" placeholder="工单主题">
                </div>
              </div>
            </div>
          </li>
          <li>
            <div class="item-content">
              <div class="item-media"></div>
              <div class="item-inner">
                <div class="item-title label">工单编号</div>
                <div class="item-input">
                  <input name="taskNo" type="text" placeholder="工单编号">
                </div>
              </div>
            </div>
          </li>
          <li>
            <div class="item-content">
              <div class="item-media"></div>
              <div class="item-inner">
                <div class="item-title label">工单类型</div>
                <div class="item-input">
                  <select name="taskType">
                    <option>家庭宽带业务开通</option>
                  </select>
                </div>
              </div>
            </div>
          </li>
          <div class="item-content">
            <div class="item-media"></div>
            <div class="item-inner">
              <div class="item-title label">环节名称</div>
              <div class="item-input">
                <select name="taskStage">
                  <option>订单受理与开通预约</option>
                  <option>现场开通</option>
                  <option>资源配置</option>

                </select>
              </div>
            </div>
          </div>
          </li>
          <!-- Date time-->
          <li>
            <div class="item-content">
              <div class="item-media"></div>
              <div class="item-inner">
                <div class="item-title label">派单时间</div>
                <div class="item-input">
                  <input name="startTime" type="datetime-local">
                </div>
              </div>
            </div>
            <div class="item-content">
              <div class="item-media"></div>
              <div class="item-inner">
                <div class="item-title label">至</div>
                <div class="item-input">
                  <input name="endTime" type="datetime-local">
                </div>
              </div>
            </div>
          </li>
        </ul>
      </div>
    </div>
  </form>
  <div class="row">
    <div id="search-condition-clear" class="col-50 padding-10">
      <a href="#" class="button button-blue search-condition-clear">清空</a>
    </div>
    <div id="search-condition-submit" class="col-50 padding-10">
      <a href="#" class="button button-blue button-submit">查询</a>
    </div>
  </div>

</div>