<!-- Scrollable page content-->
<div class="page-content">
  <div class="content-block">
    <div class="content-block-inner">
      <p>Here is Home page!</p>
    </div>
  </div>
</div>

<div class="toolbar tabbar tabbar-labels">
  <div class="toolbar-inner">
    <a href="#" class="link active information"><i class="icon tabbar-demo-icon-1"></i><span class="tabbar-label">Home</span></a>
    <a href="#" class="link inbox"><i class="icon tabbar-demo-icon-2"></i><span class="tabbar-label">Inbox</span></a>
    <a href="#" class="link upload"><i class="icon tabbar-demo-icon-3"><span class="badge bg-red">4</span></i><span class="tabbar-label">Upload</span></a>
  </div>
</div>
